.herosectionContainer {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-top: 40px;
  height: 870px;
  overflow: hidden;
  background: url("/images/png/Abstract Design.png"),
    radial-gradient(
      circle,
      rgba(85, 71, 235, 0) 0%,
      rgba(59, 50, 168, 1) 0%,
      rgba(5, 5, 26, 0) 100%
    );
  position: relative;
  font-family: var(--font-family-manrope);
}
.profileMainContainer {
  width: 600px;
  display: flex;
  justify-content: center;
  height: 445px;
  position: absolute;
  left: 420px;
  position: relative;
  margin-top: 17px;
}
.fourthCircle {
  position: absolute;
  top: 115px;
  width: 264px;
  height: 264px;
  border-radius: 100%;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 0px 53px -39px var(--color-headerButton);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.socialMediaButton,
.instagramButton,
.discordButton,
.twitterButton,
.githubButton,
.boombleButton,
.linkDinButton,
.reditButton {
  all: unset;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 202px;
  left: 60px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 0px 53px -39px var(--color-headerButton);
  backdrop-filter: blur(12px);
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.socialMediaButton:hover,
.instagramButton:hover,
.discordButton:hover,
.twitterButton:hover,
.githubButton:hover,
.boombleButton:hover,
.linkDinButton:hover,
.reditButton:hover {
  transform: scale(1.1);
  backdrop-filter: blur(222px);
  filter: drop-shadow(0px 0px 15px var(--color-white));
}
.instagramButton {
  top: 124px;
  left: 88px;
}
.discordButton {
  top: 51px;
  left: 146px;
}
.twitterButton {
  top: 31px;
  left: 234px;
}
.githubButton {
  top: 36px;
  left: 319px;
}
.boombleButton {
  top: 62px;
  left: 398px;
}
.linkDinButton {
  top: 124px;
  left: 456px;
}
.reditButton {
  top: 202px;
  left: 484px;
}
.thirdCircle {
  width: 216px;
  height: 216px;
  border-radius: 100%;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 0px 53px -39px var(--color-headerButton);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondRound {
  width: 168px;
  height: 168px;
  border-radius: 100%;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 0px 53px -39px var(--color-headerButton);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.helloContainer {
  position: absolute;
  width: 151px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 183px;
  backdrop-filter: blur(20px);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.25),
    inset 0px 0px 53px -39px var(--color-headerButton);
  border-radius: 61px;
  color: var(--color-white);
  font-size: 14px;
}
.background {
  position: absolute;
  bottom: 0;
  background-image: url("/images/png/Background.png");
  background-repeat: no-repeat;
  max-width: 1440px;
  width: 100%;
  height: 416px;
  justify-content: space-between;
  display: flex;
}
.aboutMe,
.crafting {
  max-width: 515px;
  width: 100%;
  height: 188px;
  border-radius: 12px 100px 12px 12px;
  border-top: 1px solid var(--color-headerBorder);
  border-left: 1px solid var(--color-headerBorder);
  border-right: 1px solid var(--color-headerBorder);
  margin: 73px 0px 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainicon {
  position: absolute;
  top: 124px;
  left: 50%;
  transform: translate(-50%, 0%);
  filter: drop-shadow(0px 0px 60px rgba(85, 71, 235));
}
.aboutMe {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.036852240896358524) 7%,
    rgba(255, 255, 255, 0) 33%,
    rgba(255, 255, 255, 0) 71%,
    rgba(255, 255, 255, 0.036852240896358524) 97%,
    rgba(255, 255, 255, 0) 100%
  );
}
.crafting {
  border-radius: 100px 12px 12px 12px;
  margin: 73px 80px 0px 0px;
  background: linear-gradient(
    225deg,
    rgba(255, 255, 255, 0.036852240896358524) 1%,
    rgba(255, 255, 255, 0) 33%,
    rgba(255, 255, 255, 0) 71%,
    rgba(255, 255, 255, 0.036852240896358524) 97%,
    rgba(255, 255, 255, 0) 100%
  );
}
.crafting p,
.aboutMe p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  max-width: 445px;
  width: 100%;
  line-height: 150%;
  color: var(--color-paragraph);
}
.crafting h2,
.aboutMe h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--color-white);
}
