@import "tailwindcss";
/* CSS VARIABLES */
:root {
  /* Colors */
  --color-header: #050523;
  --color-headerBorder: #ffffff10;
  --color-headerParagraph: #98989a;
  --color-headerButton: #5547eb;
  --color-white: #ffffff;
  --color-paragraph: #b3b3b3;
  --color-sliderParagraph: #7e7e81;
  --color-whiteOpacity: #ffffff15;
  --color-redColor: #ba1212;

  /* Typography */
  --font-family-manrope: "manrope", Arial;
}
@font-face {
  font-family: "manrope";
  src: url("/Manrope-Regular.ttf");
}
button {
  all: unset;
}
.myHeight {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.mainContainer {
  flex: 1;
}
body {
  height: 100%;
  font-size: 16px;
  font-family: var(--font-family-base);
  color: var(--color-text);
  background-color: #05051a;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family-manrope);
}
